#dear god, making leather horse armour render properly has shaved years off of my life

protected net.minecraft.client.model.ModelHorse field_110718_w	#backLeftHoof
protected net.minecraft.client.model.ModelHorse field_110711_o	#backLeftLeg
protected net.minecraft.client.model.ModelHorse field_110719_v	#backLeftShin
protected net.minecraft.client.model.ModelHorse field_110720_z	#backRightHoof
protected net.minecraft.client.model.ModelHorse field_110722_x	#backRightLeg
protected net.minecraft.client.model.ModelHorse field_110721_y	#backRightShin
protected net.minecraft.client.model.ModelHorse field_110715_k	#body
protected net.minecraft.client.model.ModelHorse field_110690_C	#frontLeftHoof
protected net.minecraft.client.model.ModelHorse field_110688_A	#frontLeftLeg
protected net.minecraft.client.model.ModelHorse field_110689_B	#frontLeftShin
protected net.minecraft.client.model.ModelHorse field_110686_F	#frontRightHoof
protected net.minecraft.client.model.ModelHorse field_110684_D	#frontRightLeg
protected net.minecraft.client.model.ModelHorse field_110685_E	#frontRightShin
protected net.minecraft.client.model.ModelHorse field_110709_a	#head
protected net.minecraft.client.model.ModelHorse field_110717_i	#horseFaceRopes
protected net.minecraft.client.model.ModelHorse field_110705_d	#horseLeftEar
protected net.minecraft.client.model.ModelHorse field_110700_P	#horseLeftFaceMetal
protected net.minecraft.client.model.ModelHorse field_110702_R	#horseLeftRein
protected net.minecraft.client.model.ModelHorse field_110692_M	#horseLeftSaddleMetal
protected net.minecraft.client.model.ModelHorse field_110691_L	#horseLeftSaddleRope
protected net.minecraft.client.model.ModelHorse field_110706_e	#horseRightEar
protected net.minecraft.client.model.ModelHorse field_110699_Q	#horseRightFaceMetal
protected net.minecraft.client.model.ModelHorse field_110701_S	#horseRightRein
protected net.minecraft.client.model.ModelHorse field_110694_O	#horseRightSaddleMetal
protected net.minecraft.client.model.ModelHorse field_110693_N	#horseRightSaddleRope
protected net.minecraft.client.model.ModelHorse field_110698_K	#horseSaddleBack
protected net.minecraft.client.model.ModelHorse field_110696_I	#horseSaddleBottom
protected net.minecraft.client.model.ModelHorse field_110697_J	#horseSaddleFront
protected net.minecraft.client.model.ModelHorse field_178712_c	#lowerMouth
protected net.minecraft.client.model.ModelHorse field_110714_j	#mane
protected net.minecraft.client.model.ModelHorse field_110687_G	#muleLeftChest
protected net.minecraft.client.model.ModelHorse field_110703_f	#muleLeftEar
protected net.minecraft.client.model.ModelHorse field_110695_H	#muleRightChest
protected net.minecraft.client.model.ModelHorse field_110704_g	#muleRightEar
protected net.minecraft.client.model.ModelHorse field_110716_h	#neck
protected net.minecraft.client.model.ModelHorse field_110712_l	#tailBase
protected net.minecraft.client.model.ModelHorse field_110713_m	#tailMiddle
protected net.minecraft.client.model.ModelHorse field_110710_n	#tailTip
protected net.minecraft.client.model.ModelHorse field_178711_b	#upperMouth